__pycache__/
venv/
.env
*.gif
# OpenCV practice files (unrelated to gesture project)

birthdayproblem.py
bitwise.py
colorchannels.py
colorspaces.py
contours.py
download.jpg
draw.py
dummy.py
gradients.py
histogram.py
masking.py
read.py
rescale.py
smoothing.py
thresholding.py
transformations.py
volumeHandControl.py